body { background: #d04aab; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 11px; display: flex; }
.block-router-0 { color: #d2990; font-size: 21px; margin-bottom: 5px; }
.block-notify-1 { color: #5eff7e; font-size: 13px; margin-bottom: 5px; }
.block-filter-2 { color: #55f368; font-size: 15px; margin-bottom: 5px; }
.block-invoice-3 { color: #ee17e9; font-size: 13px; margin-bottom: 5px; }
.block-uploader-4 { color: #90dd7b; font-size: 12px; margin-bottom: 5px; }
.block-filter-5 { color: #848d5; font-size: 21px; margin-bottom: 5px; }
.block-search-6 { color: #d5ee52; font-size: 13px; margin-bottom: 5px; }